<form id="main-info" action="" class="wrapper">
    <h2>Контактная Информация</h2>
    <div class="form-group">
        <label for="InputLogin">* Логин</label>
        <input type="text" class="form-control" name="login" id="InputLogin" placeholder="Логин">
    </div>
    <div class="form-group">
        <label for="InputName">* Имя</label>
        <input type="text" class="form-control" name="name" id="InputName" placeholder="Имя">
    </div>
    <div class="form-group">
        <label for="InputLastName">* Фамилия</label>
        <input type="text" class="form-control" name="name" id="InputLastName" placeholder="Фамилия">
    </div>
    <div class="form-group">
        <label for="InputPassword">* Пароль</label>
        <input type="password" class="form-control" name="pass" id="InputPassword" placeholder="Пароль">
    </div>
    <div class="form-group">
        <label for="InputEmail">* Email</label>
        <input type="text" class="form-control" name="email" id="InputEmail" placeholder=" Email">
    </div>
    <div class="form-group">
        <label for="InputSex">Пол</label>
        <select class="form-control">
            <option id="InputSex" disabled selected>Не важно</option>
            <option>Мужской</option>
            <option>Женский</option>
        </select>
    </div>
    <button class="btn btn-info"  id="Next">Дальше</button>
</form>
