<form id="address-info" class="wrapper">
    <h2>Как С Вами Связаться</h2>
    <div class="form-group">
        <label for="InputCountry">* Страна</label>
        <select class="form-control" name="country">
            <option id="InputCountry" disabled selected>Не важно</option>
            <option selected>Беларусь</option>
            <option>Россия</option>
            <option>Украина</option>
            <option>Казахстан</option>
            <option>Литва</option>
            <option>Латвия</option>
            <option>Польша</option>
            <option>Армения</option>
        </select>
    </div>
    <div class="form-group">
        <label for="InputAddress">* Адресс</label>
        <textarea type="" class="form-control" name="address" id="InputAddress" placeholder="Адресс" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="InputTel">* Телефон</label>
        <input type="tel" class="form-control" name="phone" id="InputTel" placeholder="Телефон">
    </div>
    <button class="btn btn-success" id="End">Зарегистрироваться</button>
</form>
