<div id="type-info" class="wrapper">
    <h2>Знание языков </h2>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">С#
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">С++
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Java
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">JavaScript
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Perl
        </label>
    </div>
    <button class="btn btn-info" id="NextAddress">Дальше</button>
</div>
